In [12]:
a=[100,50,193,443,256,53,1000]
b=[]
c=[]
for i in a:
    if i%2==0:
        b.append(i)
    else:
        c.append(i)
print(b)
print(c)

[100, 50, 256, 1000]
[193, 443, 53]

In [48]:
a=["A",100,"B",20.5,True,6+8j]
b=[]
c=[]
d=[]
e=[]
f=[]
for i in a:
    if type(i)==int:
        b.append(i)
    elif type(i)==float:
        c.append(i)
    elif type(i)==complex:
        d.append(i)
    elif type(i)==bool:
        e.append(i)
    else:
        f.append(i)
    
print(b)
print(c)
print(d)
print(e)
print(f)

[100]
[20.5]
[(6+8j)]
[True]
['A', 'B']

In [38]:
orders=[['apple',10],['banana',5],['cherry',7],['dragon',10],['apple',26]]
for each in orders:
    if each[0]=='cherry':
        each[1]=10
print(orders)

[['apple', 10], ['banana', 5], ['cherry', 10], ['dragon', 10], ['apple', 26]]

In [40]:
apple_orders=[]
for each in orders:
    if each[0]=='apple':
        apple_orders.append(each[1])
print(apple_orders)
print(sum(apple_orders))

[10, 26]
36

In [42]:
#create a tuple
tup1=(4,10,9,"A",9,81,False,9-6j)
print(tup1)
print(type(tup1))

(4, 10, 9, 'A', 9, 81, False, (9-6j))
<class 'tuple'>

In [44]:
tup1=[3,5,9,10]
tup2=10,20,30,'bye'
tup3=tuple([1,3,5,7])
print(tup1)
print(tup2)
print(tup3)

[3, 5, 9, 10]
(10, 20, 30, 'bye')
(1, 3, 5, 7)

In [50]:
tup4=([1,2,3],(2,3,4),'hi',200)
(tup4)

([1, 2, 3], (2, 3, 4), 'hi', 200)

In [52]:
# Use count()method of tuple to count an
tup5=(10,20,1,10,10,30,10)
tup5.count(10)

4

In [4]:
s1={1,2,3,4}
s2={3,4,5,6}
s1 | s2

{1, 2, 3, 4, 5, 6}

s1.union(s2)

In [7]:
s1={1,2,3,4,5}
s2={4,5,6,7,8}
s1.symmetric_difference(s2)

{1, 2, 3, 6, 7, 8}

In [9]:
str1="welcome to aiml class"
print(str1)
str2='we started with python'
print(str2)
str3='''This is an awesome class'''
print(str3)

welcome to aiml class
we started with python
This is an awesome class

In [26]:
str4='''He said,"It's awesome'''
print(str4)

He said,"It's awesome

In [30]:
#use of split
print(str1)
str1.split()

welcome to aiml class

['welcome', 'to', 'aiml', 'class']

In [40]:
#use of join method
reviews=["The product is awesome","great service"]
joined_string=' '.join(reviews)
joined_string

'The product is awesome great service'

In [50]:
#use of strip()method
str5=" Hello,How are you? "
str5

' Hello,How are you? '